/bin/
config/*
/worlds/
counter.jar
genbench.txt
launcher.jar
chunkstories.jar
server.jar
readme.txt
spec.txt
*.class
hs_err_pid*
res/textures/tiles_merged*
*main.fs
*main.vs
players/*
serverlogs/*
logs/*
/target/
doc/*
plugins/*
.classpath
.project
.*
logs-reporter.jar
mods/*
screenshots/*
xolioz*
namalsk*
skybox*
cache/*
servermods/*
dz4cs/
apitrace*
wrappers/
scripts/
*.exe
*.hprof
*.trace
/converter.jar
/converter_ids_cache.csv
/dogez_content.zip
/injectee.dll
