# Game folders relevant to a specific installation

worlds/
/config/
doc/
/plugins/
players/
serverlogs/
servermods/
logs/
target/
/mods/
screenshots/
skyboxscreens/
gamePassword.dat

# Caches
res/textures/tiles_merged*
cache/
converter_ids_cache.csv
converter.jar
server-icon.png

# Logs
*.log

# Don't include build stuff
bin/
*/build/
*.class
scripts/
version.txt
*.spv

# Random utility/built jars no one cares about
counter.jar
genbench.txt
launcher.jar
chunkstories.jar
server.jar
logs-reporter.jar

# Debug stuff is hidden too
apitrace/
wrappers/
hs_err_pid*
*.hprof
*.trace
*.cap
injectee.dll
rendergraph.png
/memLayout*

# Hide eclipse projects
.classpath
.project
.*

# Fuck off Windows
*Thumbs.db

# Content creation personal crap
*.exe
dz4cs/
dogez_content.zip
server-icon - Copie.png
gradle.properties
/Renderdoc-client.cap
namalsk-map/
core_content.zip
debug-server-*
/convert-namalsk.bat
/convert-namalsk.sh
/convert-xolioz.sh


# IntelliJ
.idea/
out/
*.iml
*.ipr
*.iws

#test server
test-server
