_Game folders relevant to a specific installation_

worlds/
config/
doc/
/plugins/
players/
serverlogs/
servermods/
logs/
target/
mods/
screenshots/
skyboxscreens/

_Caches_
res/textures/tiles_merged*
cache/
converter_ids_cache.csv
converter.jar
server-icon.png

_Don't include build stuff_
bin/
*/build/
/gradle/
*.class
scripts/

_Random utility/built jars no one cares about_
counter.jar
genbench.txt
launcher.jar
chunkstories.jar
server.jar
logs-reporter.jar

_Debug stuff is hidden too_

apitrace/
wrappers/
hs_err_pid*
*.hprof
*.trace
*.cap
injectee.dll

_Hide eclipse projects_
.classpath
.project
.*

_Fuck off Windows_
*Thumbs.db

_Content creation personal crap_
*.exe
dz4cs/
dogez_content.zip
server-icon - Copie.png
gradle.properties
/Renderdoc-client.cap
