<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Properties>
    <Property name="filename">test.log</Property>
  </Properties>
  <Appenders>
	<Console name="Console" target="SYSTEM_OUT">
	  <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
	</Console>
	
  </Appenders>
  <Loggers>
    <Logger name="Content" level="trace" additivity="false">
      <AppenderRef ref="Console"/>
    </Logger>
	<Root level="error">
	  <AppenderRef ref="Console"/>
	</Root>
  </Loggers>
  
</Configuration>