<!--

    This file is a part of the Chunk Stories Implementation codebase
    Check out README.md for more information
    Website: http://chunkstories.xyz

-->
<!--

    This file is a part of the Chunk Stories API codebase
    Check out README.md for more information
    Website: http://chunkstories.xyz

-->
<configuration>
  <root level="info">
  </root>
</configuration>